@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');


body {
    margin: 10px;
    white-space: nowrap;
  }

  h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: block;
  }

  h2 {
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
  }

  #container {
    align-items: center;
    /* display: flex;
    justify-content: space-between; */
    width: 200px;
  }

  #actionButton{
      padding-right: 12vw;
      padding-left: 12vw;
      padding-top: 10vw;
      padding-bottom: 10vw;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      border: none;
      border-radius: 12px;
      font-size: 7vw;
      text-align: center;
  }

  .addWarning{
    background-color: #FDE18B;
  }

  .removeWarning{
    background-color: #FC7272;
  }

  .savedWarning{
    background-color: #b9c4cd;
  }