@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');


body {
    margin: 10px;
    white-space: nowrap;
  }

  h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: block;
  }

  h2 {
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
  }

  h5 {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 5
}

#editDaysForm {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 240;
}

  #container {
    align-items: center;
    /* display: flex;
    justify-content: space-between; */
    width: 150px;
  }

  #actionButton{
      padding-right: 12vw;
      padding-left: 12vw;
      padding-top: 10vw;
      padding-bottom: 10vw;
      font-family: 'Roboto', sans-serif;
      border: none;
      border-radius: 12px;
      text-align: center;
  }

  #editButton {
    padding-right: 12vw;
    padding-left: 12vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 375;
    border: none;
    font-size: 7vw;
    border-radius: 12px;
    text-align: center;
    background-color: #97b6cd;
    margin-bottom: 10
  }

  .addWarning{
    padding-right: 12vw;
    padding-left: 12vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    font-weight: 375;
    font-size: 7vw;
    background-color: #FDE18B;
  }

  .removeWarning{
    padding-right: .2vw;
    padding-left: .2vw;
    padding-top: .1vw;
    padding-bottom: .1vw;
    font-weight: 350;
    border-radius: 6px;
    font-size: 5vw;
    background-color: #FC7272;
  }

  .savedWarning{
    background-color: #CEDBE5;
  }